* {
    padding: 0;
    margin: 0;
}

body {
    padding: 20px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-family: "JetBrains Mono", monospace;
    font-size: 12px;
}

#content {
    margin-top: 0px;
}

h3 {
    margin-bottom: 20px;
}

.user {
    margin-bottom: 10px;
}

/* .message {
    color: tomato;
} */